html {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.navbar-logo {
  /* Définir une hauteur maximale pour l'image */
  max-height: 10px; 
  /* Assurer que la largeur s'ajuste pour maintenir les proportions */
  width: auto; 

}

#timerTour {
  font-weight:bolder;
  font-size: 8em;
  color: green;
}

#timerPartie {
  font-weight: bold;
  font-size: 4em;
}

div {
  display: inline-block;
}
