p{
    text-align: left;
    margin-bottom: 5px;
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
#consigneJ1 {
display: block;
}

#consigneJ2 {
display: block;
}

#nomJ1{
visibility: hidden;
}

#nomJ2{
visibility: hidden;
}

#inputNomJ1:focus  {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(40, 167, 69, 0.5);
}

#inputNomJ2:focus  {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 193, 7, 0.5);
}

#inputHeuresPartie:focus {
    border-color: rgba(100, 102, 101, 0.5);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 102, 101, 0.5);
}

#inputHeuresPartie:focus {
    border-color: rgba(100, 102, 101, 0.5);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 102, 101, 0.5);
}

#J1,#J2 {
    min-width: 20em;
}

.timerDisplay {
    font-size: 1.5em;
}

.imgBackground {
  /* Spécifie l'image de fond */
  background-image: url('img/terrain.png');
  
  /* **Empêche la répétition** de l'image */
  background-repeat: no-repeat; 
  
  /* **Centre** l'image horizontalement et verticalement */
  background-position: center center; 
  
  /* Fait en sorte que l'image **couvre toute la zone** sans être étirée, 
     en coupant les bords si nécessaire. C'est souvent ce que les gens veulent pour un fond d'écran. */
  background-size: cover; 
}

.rotate { 

    transform: rotate(180deg); 

   } 