

#consigneJ1 {
display: block;
}

#consigneJ2 {
display: block;
}

#nomJ1{
visibility: hidden;
}

#nomJ2{
visibility: hidden;
}

#inputNomJ1:focus  {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(40, 167, 69, 0.5);
}

#inputNomJ2:focus  {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 193, 7, 0.5);
}

#inputHeuresPartie:focus {
    border-color: rgba(100, 102, 101, 0.5);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 102, 101, 0.5);
}

#inputHeuresPartie:focus {
    border-color: rgba(100, 102, 101, 0.5);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 102, 101, 0.5);
}